@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Ang lumang Panatang Makabayan</h1>
    <p>
    Iniibig ko ang Pilipinas<br />
    Ito ang aking lupang sinilangan<br />
    Ito ang tahanan ng aking lahi<br /> 
    Ako'y kanyang kinukupkop at tinutulungan<br /> 
    Upang maging malakas, maligaya at kapakipakinabang<br /> 
    Bilang ganti,<br /> 
    diringgin ko ang payo<br /> 
    ng aking mga magulang<br /> 
    Susundin ko ang mga tuntunin ng aking paaralan<br /> 
    Tutuparin ko ang mga tungkulin<br /> 
    ng isang mamamayang makabayan<br /> 
    at masunurin sa batas<br /> 
    Paglilingkuran ko ang aking bayan nang walang pag-iimbot<br /> 
    at ng buong katapatan<br /> 
    Sisikapin kong maging isang tunay na Pilipino<br /> 
    sa isip, sa salita, at sa gawa.<br />
    </p>
</div>
