@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Ang bagong Panatang Makabayan</h1>
    <p>
    Iniibig ko ang Pilipinas,<br />
    aking lupang sinilangan<br />
    tahanan ng aking lahi;<br /> 
    kinukupkop ako at tinutulungang<br /> 
    maging malakas, masipag at marangal.<br /> 
    Dahil mahal ko ang Pilipinas,<br /> 
    diringgin ko ang payo<br />
    ng aking mga magulang,<br /> 
    susundin ko ang tuntunin ng paaralan,<br /> 
    tutuparin ko ang tungkulin<br />
    ng mamamayang makabayan;<br /> 
    naglilingkod, nag-aaral, at nananalangin<br /> 
    nang buong katapatan.<br />
    Iaalay ko ang aking buhay,<br /> 
    pangarap, pagsisikap<br /> 
    sa bansang Pilipinas.<br />
    </p>
</div>
